<mat-list>
    <h3 matSubheader>Products</h3>
    <mat-list-item *ngFor="let product of order.products">
       <mat-icon matListIcon>library_music</mat-icon>
       <h4 matLine>{{product.product.name}}</h4>
       <p matLine> {{product.voicingOption}} </p>
       <p matLine>N. {{product.numCopies}} copies <span *ngIf = "product.isPhysical">(paper score)</span></p>
       <p matLine> {{product.price | currency}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Account</h3>
    <mat-list-item>
       <h4 matLine>{{order.account.accountName}}</h4>
       <p matLine>Account number:{{order.account.accountNumber}} </p>
       <p matLine>First name: {{order.account.firstName}}</p>
       <p matLine>Last name: {{order.account.lastName}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <h3 matSubheader>Billing address</h3>
    <mat-list-item>
       <p matLine>{{order.billingAddress.street}} </p>
       <p matLine>{{order.billingAddress.city}}</p>
       <p matLine>{{order.billingAddress.state}}</p>
       <p matLine>{{order.billingAddress.zip}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Shipping address</h3>
    <mat-list-item *ngIf = "order.shippingAddress">
       <p matLine>{{order.shippingAddress.street}} </p>
       <p matLine>{{order.shippingAddress.city}}</p>
       <p matLine>{{order.shippingAddress.state}}</p>
       <p matLine>{{order.shippingAddress.zip}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Cost</h3>
    <mat-list-item >
      <p matLine>Subtotal: {{order.cost.subTotal | currency}}</p>
      <p matLine>Shipping: {{order.cost.shipping | currency}}</p>
      <h4 matLine>Total: {{order.cost.total | currency}} </h4>
    </mat-list-item>
 </mat-list>

