.cart {
  background-color: black;
  border: 1px white solid;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  padding: 10px;
}

.cart-title {
  margin: 0;
}

.cart-item {
  margin: 10px 0;
}
