<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px" class="cart">

  <div fxLayout="row" fxLayoutGap="5px">
    <span class="material-icons">shopping_cart</span>
    <h3 class="cart-title">YOUR CART</h3>
  </div>

  <div *ngIf="order.products.length" fxFill>
    <div *ngFor="let product of order.products; let index=index" fxLayout="row" fxLayoutAlign="space-between center" class="cart-item">
      <div fxLayout="column">
        <div>
          <b>
            {{product.product.name}}
          </b>
        </div>
        <div>
          {{product.voicingOption}}
        </div>
        <div *ngIf="product.isPhysical && product.numCopies > 1">
          {{product.numCopies}} scores
        </div>
        <div *ngIf="product.isPhysical && product.numCopies == 1">
          {{product.numCopies}} score
        </div>
        <div *ngIf="!product.isPhysical">
          Site license
        </div>
        <div>
          {{product.price | currency}}
        </div>
      </div>
      <button mat-icon-button (click)="removeProduct(index)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div>Subtotal: {{order.cost.subTotal | currency}}</div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <app-product></app-product>
</div>
