<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px" class="nav-fixed fullwidth">
  <button
    *ngIf = "navParams['back']"
    fxFlex = "1 1 100"
    mat-raised-button
    type="button"
    (click) = "navTo(navParams['back'])">
    <i class="material-icons">
      arrow_back_ios
    </i>
    <span *ngIf = "navParams['backDisplay']">
      {{navParams['backDisplay']}}
    </span>
  </button>
  <button
    *ngIf = "navParams['save']"
    fxFlex = "1 1 100"
    mat-raised-button
    type="button"
    [disabled] = "!navParams.save.enabled"
    (click) = "navTo(navParams.save.route)">
    <i class="material-icons">
        save
    </i>
    <span *ngIf = "navParams.save['display']">
      {{navParams.save['display']}}
    </span>
  </button>
  <button
    *ngIf = "navParams['next'] "
    fxFlex = "1 1 100"
    mat-raised-button
    type="button"
    [disabled] = "!navParams.next.enabled"
    (click) = "navTo(navParams.next.route)">
    <i class="material-icons" *ngIf = "navParams.next.route === 'payment'">
      payment
    </i>
    <span *ngIf = "navParams.next['display']">
      {{navParams.next['display']}}
    </span>
    <i class="material-icons" *ngIf = "navParams.next.route !== 'payment'">
        arrow_forward_ios
    </i>
  </button>
</div>
