.product {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  &-container {
    padding-top: 5px;
    margin: 10px;
    max-width: 290px;
  }

  &-voicing-option-section {
    padding: 5px;
    margin: 10px 0 0 0;
    width: 280px;
    border: 1px rgba(255, 255, 255, 0.15) solid;
  }

  &-add-more {
    margin: 2px 0 5px 0;
  }

  &-buttons {
    margin: 5px 0 0 0;
  }
}
