<div [formGroup]="orderForm">
  <div formArrayName="products" fxLayout="row wrap">
    <div *ngFor="let availableProduct of this.getProducts().controls; let i=index" [formGroupName]="i" class="product product-container">
      <div fxLayout="column" fxLayoutAlign="start center" >
        <h3>
          {{availableProduct.get('name').value}}
        </h3>
        <img [src]="availableProduct.get('url').value" height="200px" />

        <div fxLayout="row" fxLayoutAlign="space-between end" fxFill>
          <span>Site license:</span>
          <span>{{availableProduct.get('digitalPrice').value | currency}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end" fxFill>
          <span>Printed scores (each):</span>
          <span>{{availableProduct.get('physicalPrice').value | currency}}</span>
        </div>

        <div formArrayName="options" fxLayout="column">
          <div *ngFor="let option of availableProduct.get('options').controls; let j=index" [formGroupName]="j" class="product-voicing-option-section" fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxFill>
              <mat-form-field>
                <mat-select placeholder="Voicing Option" formControlName='voicingOption'>
                  <mat-option *ngFor="let v of availableProduct.get('voicingOptions').value" [value]="v">
                    {{ v }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-button fxFlex="55px" (click)="removeOption(i, j)" *ngIf="j > 0">
                <span class="material-icons">close</span>
              </button>
            </div>
            <span class="mat-slide-toggle-content">Site license <mat-slide-toggle formControlName='isPhysical'>Printed scores</mat-slide-toggle></span>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
              <mat-form-field fxFlex="60px" [style.visibility]="option.get('isPhysical').value ? 'visible': 'hidden'">
                <input matInput placeholder="Copies" formControlName="numCopies" type="number">
                <mat-error *ngIf="option.get('numCopies').hasError('max')">
                  Too many
                </mat-error>
                <mat-error *ngIf="option.get('numCopies').hasError('min')">
                  Too few
                </mat-error>
              </mat-form-field>
              <div *ngIf="option.get('numCopies').valid">
                {{option.get('calculatedPrice').value | currency}}
              </div>
              <div fxLayoutGap="5px" class="product-buttons">
                <button mat-raised-button fxFlex="55px" (click)="removeProduct(i, j)" *ngIf="isInCart(i, j)">
                  <span class="material-icons">remove_shopping_cart</span>
                </button>
                <button mat-raised-button [disabled]="!option.valid" fxFlex="55px" (click)="addProduct(i, j)" *ngIf="!isInCart(i, j)">
                  <span class="material-icons">add_shopping_cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-add-more" *ngIf="availableProduct.valid">
          <span (click)="addMore(i)" class="anchor">Add more...</span>
        </div>
      </div>
    </div>
  </div>
</div>
