
<div fxLayout="column" fxLayoutAlign="space-between stretch" class="page">
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
    <h1>
      PLACE YOUR ORDER
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px" [ngSwitch]="currentView" fxFill>
    <app-products *ngSwitchDefault (canGoNext)="toggleNext($event)"></app-products>
    <app-products *ngSwitchCase="'products'" (canGoNext)="toggleNext($event)"></app-products>
    <app-checkout *ngSwitchCase="'checkout'" (canGoNext)="toggleNext($event)"></app-checkout>
    <app-summary *ngSwitchCase="'summary'"></app-summary>
  </div>
  <div class="spacer"></div>
</div>
<app-nav-buttons [navParams]="navParams" (emitNav)="navTo($event)"></app-nav-buttons>
