<div >
    <h1 mat-dialog-title>Enter card details:</h1>
    <div mat-dialog-content  >
        <input matInput placeholder="NAME ON CARD" class="card-info-style" [(ngModel)] = "nameOnCard">
        <div id="card-info" #cardInfo></div>    
        <div id="card-expiry" #cardExpiry></div>
        <div id="card-cvc" #cardCVC></div>  
        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <div mat-dialog-actions >
      <button mat-raised-button (click) = "submit()" cdkFocusInitial>Pay {{data.cost.total | currency}}</button>
    </div>
</div>
