/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.version-info {
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
}

.page {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

p, span, div {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product {
  border: #CCC 1px solid;
  background-color: #222222;
  padding: 5px 10px;
}

.top-pad {
  padding-top:50px;
}
