<div [formGroup]="checkoutForm" fxLayout="row wrap" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutAlign="start" class="checkoutSection" fxFlex="290px">
    <h4 class="padded-header">Your Information:</h4>
    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start" >
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName">
        <mat-error *ngIf="checkoutForm.get('firstName').hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName">
        <mat-error *ngIf="checkoutForm.get('lastName').hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="checkoutForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="checkoutForm.get('email').hasError('email')">
          Email is invalid
        </mat-error>
      </mat-form-field>
    </div>
    <mat-checkbox formControlName='sendMarketing' class="sendMarketing">Contact me about new music</mat-checkbox>
    <mat-checkbox formControlName='schoolOrOrg' class="schoolOrOrg">I work for a school/organization</mat-checkbox>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around" class="checkoutSection" fxFlex="290px" *ngIf="checkoutForm.get('schoolOrOrg').value">
    <h4 class="padded-header">Your School/Organization:</h4>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
      <mat-form-field hintLabel="i.e. Olathe School District">
        <input matInput placeholder="Account Name" formControlName="accountName">
      </mat-form-field>
      <mat-form-field hintLabel="i.e. 100178">
        <input matInput placeholder="Account #" formControlName="accountNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="School or Ensemble Name" formControlName="schoolOrEnsemble">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Conductor's Name" formControlName="conductorsName">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around" class="checkoutSection" fxFlex="290px">
    <h4 class="padded-header">Billing address:</h4>
    <div formGroupName="billingAddress" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center" >
      <mat-form-field>
        <input matInput placeholder="Street" formControlName="street">
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="State" formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{state.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip Code" formControlName="zip">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start" *ngIf="thereArePhysicalProducts" class="checkoutSection" fxFlex="290px">
    <h4>Shipping address:</h4>
    <mat-checkbox formControlName='sameAsBilling'>Same as billing address</mat-checkbox>
    <div *ngIf="!checkoutForm.get('sameAsBilling').value">
      <div formGroupName="shippingAddress" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center" >
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="State" formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.value">
              {{state.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Zip Code" formControlName="zip">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
